@page

<html>
    <head>
        <title>ClassicWebApp</title>
    </head>
    <body>
        <h1>Welcome Customer</h1>
        <h3>Your Invoice</h3>
        <table border="1">
            <tr>
                <th>Product No</th>
                <th>Quantity</th>
                <th>Order Date</th>
            </tr>
        </table>
        <p>
            <a href="">Logout</a>
        </p>
    </body>
</html>
