@page
<html>
    <head>
        <title>ClassicWebApp</title>
    </head>
    <body>
        <h1>Welcome Customer</h1>
        <form method="post">
            <p>
                <b>Customer ID</b><br/>
                <input type="text" required="required"/>
            </p>
            <p>
                <b>Password</b><br/>
                <input type="password" required="required"/>
            </p>
            <p>
                <input type="submit" value="Login"/>
            </p>
        </form>
    </body>
</html>
